/* CSS declarations go here */
#diagramContainer {
    padding: 20px;
    width:100%; height: 480px;
    border: 1px solid gray;
    /*overflow: auto;*/
    position: relative;
}
.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.node {
    /*position: absolute;*/
    height:80px;
    min-width: 80px;
    padding: 5px;
    font-weight: bold;
    /*border: 1px solid blue;*/
    /*color:white;*/
    text-align: center;
    cursor: move;
    /*cursor: grab;
    cursor: -webkit-grab;*/
    border-radius: 11px;
    /*font-size: 50% !important;*/
}
.node-info {
  padding:5%;
  color: white;
  /*line-height: 70px;*/
}
.node-info strong{
  border-bottom: 1px dotted white;
}

#diagramContainer.connectionModeOn{
  border: 5px solid blue;
}
#diagramContainer.connectionModeOn .node:not(.unselectable){
  cursor: pointer;
}
#diagramContainer.connectionModeOn .node.active{
  cursor: pointer;
}
#nodeProperties {
  width: 30%;
  float:right;
  padding:5px;
}
/*#diagramContainer.connectionModeOn .node:not(.unselectable) {
  cursor: pointer;
}*/
.node.activeForEditing {
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
  background: grey;
  border: 5px dotted black;
  padding: 10px;
}
.node.activeAsSrc {
  border: 1px solid black;
  -webkit-box-shadow: -1px 1px 13px 3px black;
-moz-box-shadow: -1px 1px 13px 3px black;
box-shadow: -1px 1px 13px 3px black;
}
.node.unselectable:not(.activeAsSrc) {
  text-decoration: line-through;
  cursor: not-allowed;
  background: rgb(157, 150, 166);
}
/****************************************/
.block {
  position: absolute;
}
/*****************************************/
.node.Indicator {
  background: #1672aa;
}
.node.SignalCombine, .node.SignalCrossover, .node.SignalThreshold, .node.SignalFilter {
  background-color: #329571;
}
.node.SignalCombine {
  /* shape: circular */
  border-radius: 60%;
  padding-top: 15px;
  /*width: 80px;
  height: 80px;*/
}
.node.Order {
  background: #8432af;
}
.node.Price {
  background: #cc05c4;
}
.node h4{
  vertical-align: middle;
 display: inline-block;
}
