<head>
  <title>jsplumbbacktest</title>
</head>

<body>
  <h1>Welcome to RuleMaker!</h1>
  {{> ruleMaker}}
</body>

<template name="ruleMaker">
<div class="container">
{{#unless Template.subscriptionsReady}}
  {{> spinner}}
{{else}}
  <div class="row"> <!-- first row -->
    <div class="col-lg-8" style="display: ">
      <div id="pallette" class="row">
        <div class="col-lg-4">
          <select id="selectNodeType" class="form-control">
            {{#each addableNodes}}
              <option value="{{type}}">{{labelType type}}</option>
            {{/each}}
          </select>
        </div>
        <button id="addNodeBtn" data-node-type="" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"> </span>Add a Node
        </button>
        {{#unless connectionModeOn}}
          <button class="btn btn-info" id="connectionModeOn">Enable Connection Mode</button>
        {{else}}
          <button class="btn btn-warning" id="connectionModeOn">Disable Connection Mode</button>
        {{/unless}}
          <!-- &nbsp;&nbsp;&nbsp;Enable Connection Mode:
          <input type="checkbox" id="connectionModeOn" checked="{{connectionModeOn}}"> -->
        <!-- </div> -->
      </div>
      <div id="connection-msg" class="row">
        {{#if connectionModeOn}}
          {{#if selectedSrc}}
            Selected Source Node; now select a Destination
          {{else}}
            Click to select Source (Or, to remove an existing connection, double click on the arrow)
          {{/if}}
        {{/if}}
      </div>
      <div id="diagramContainer" class="row no_selection {{#if connectionModeOn}}connectionModeOn{{/if}}">
        {{welcomeMessage}}
        {{#each nodes}}
         <div class="node block {{type}} {{#if isActiveForEditing}}activeForEditing{{/if}} {{#if isSrcNode}}activeAsSrc{{/if}} {{#if unselectable}}unselectable disabled{{/if}}" id="{{_id}}" style="top: {{top}}px; left: {{left}}px;">
          <!-- <h4>{{labelType type}}</h4> -->
          <div class="node-info">
            <strong>{{labelType type}}</strong>
          </div>
          <!-- <span style="font-size:50%;">{{#if isActiveForEditing}}[==EDITING==]{{/if}}</span> -->
        </div>
       {{/each}}
      </div>
    </div>

    <div id="nodeProperties" class="col-lg-4">
    {{#with editingNode}}
      <form id="editingNodeForm">
        <!-- {{> UI.dynamic template=form_{{type}}}}       -->
        <input type="hidden" name="id" value="{{_id}}"/>
        <input type="text" name="label" value="{{label}}"/>
        <input type="text" name="ipPortsAvailable" value="{{ipPortsAvailable}}"/>
        <input type="text" name="opPortsAvailable" value="{{opPortsAvailable}}"/>
        <!-- <input type="submit" value="Submit"/> -->
        <button type="submit">submit</button>
      </form>
    {{/with}}
    </div>
  </div>
{{/unless}}
</div> <!-- /container -->
</template>
